.App {
  text-align: center;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col-1{
  flex: 0 0 auto;
  width: 8.33333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4{
  flex: 0 0 auto;
  width: 33.33333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.width-50{
  width: 50%;
}
.pd-5{
  padding: 5px;
}
.pd-10{
  padding: 10px;
}
img{
  width: 100%;
}
/*Card */
.card {
  margin-bottom: 1.25rem;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f6f6f6;
  border-radius: .25rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-img, .card-img-top {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
}
.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

/*header */
.navbar-header {
  position: sticky;
    background: #0f171e;
    z-index: 9999;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    padding: 5px 48px;
}
.position-relative {
  position: relative!important;
}
.app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
}

.form-control {
  border: 1px solid rgba(129,151,164,.5);
  background-color: rgba(15,23,30,.2);
  display: block;
  width: 100%;
  padding: .47rem .75rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.container {
  width: 100%;
  height: 100%;
}

.cellphone-container {
  width: 375px;
  height: 404px;
  margin: 60px auto 0 auto;
  /* box-shadow: 5px 5px 115px -14px black; */
  border-radius: 4px;
}

.menu {
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 999;
}
.menu i {
  font-size: 40px;
  color: #fe4141;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
}

.movie-img {
  width: 100%;
  height: 240px;
  /* background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
  position: relative;
}

.movie {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  background-size: contain;
  background-size: cover;
  z-index: 1 !important;
  width: 375px;
  height: 417px;
  display: block;
  border-radius: 4px;
}

.text-movie-cont {
  padding: 0px 12px;
  text-align: justify;
}

.action-btn {
  text-align: right;
}
.action-btn i {
  color: #fe4141;
  font-size: 28px;
  text-align: right;
}

.watch-btn {
  display: block;
  border: 1px solid #fe4141;
  border-radius: 5px;
  padding: 4px;
  width: 140px;
}
.watch-btn h3 i {
  font-size: 14px;
  margin-right: 2px;
  position: relative;
  float: left;
  line-height: 1;
}

.action-row {
  margin-top: 24px;
}

.summary-row {
  margin-top: 12px;
}

/* TYPOGRAPHY STARTS */
/* Fonts */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: #e7e7e7;
  margin: 0px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fe4141;
}

h5 {
  font-size: 12px;
  font-weight: 400;
}

.movie-gen, .movie-likes {
  margin: 0px;
  padding: 0px;
}
.justify-between{
  display: flex;
  justify-content: space-between;
}
.justify-between i{
  padding: 0 5px;
}
.movie-gen li, .movie-likes li {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #818181;
  width: auto;
  display: block;
  float: left;
  margin-right: 6px;
  font-weight: 600;
}
.movie-gen li:last-child, .movie-likes li:last-child {
  font-size: 15px;
  color: #ff4c4cb3;
}
.movie-likes {
  float: right;
}
.movie-likes li {
  color: #fe4141;
}
.movie-likes li:last-child {
  margin-right: 0px;
}
.movie-likes li i {
  font-size: 14px;
  margin-right: 4px;
  position: relative;
  float: left;
  line-height: 1;
}

.movie-details {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #b4b4b4;
}

.movie-description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
  text-align: justify;
  line-height: 1.3;
}

.movie-actors {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #e7e7e7;
  font-style: italic;
}

/* TYPOGRAPHY ENDS */
/** GRID STARTS **/
.thegrid {
  margin: 0 auto;
}

.elements-distance, .movie-details, .movie-description, .movie-actors {
  margin: 0px;
}

.mr-grid {
  width: 100%;
}

.mr-grid:before,
.mr-grid:after {
  content: "";
  display: table;
}

.mr-grid:after {
  clear: both;
}

.mr-grid {
  *zoom: 1;
}

.col1,
.col2,
.col3,
.col3rest,
.col4,
.col4rest,
.col5,
.col5rest,
.col6,
.col6rest {
  margin: 0% 0.5% 0.5% 0.5%;
  padding: 1%;
  float: left;
  display: block;
}

/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/
.col1 {
  width: 98%;
}

.col2 {
  width: 47%;
}

.col3 {
  width: 30.3333333333%;
}

.col4 {
  width: 22%;
}

.col5 {
  width: 17%;
}

.col6 {
  width: 13.6666666667%;
}

/* Columns match with their individual number. E.G. col3+col3rest=full width row */
.col3rest {
  width: 63.6666666667%;
}

.col4rest {
  width: 72%;
}

.col5rest {
  width: 77%;
}

.col6rest {
  width: 80.3333333333%;
}

.dribbble-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
}

.textOverflow{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.cus-pagination{
  padding-right: 30px;
  justify-content: flex-end;
}
.cus-pagination li{
  cursor: pointer;
}
.cus-pagination .page-link {
  color: #f3f3f378;
    background-color: #1e1b26;
}
.cus-pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #21292f;
  /* border-color: #ffffff; */
  /* box-shadow: 0 11px 11px 0 rgb(73 65 65 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%); */
  box-shadow: 0px 0px 4px 3px rgb(35 35 35 / 30%), 0px 0px 3px 1px rgb(236 236 236 / 15%);
  border-color: none;
}
.cus-block{
    justify-content: center;
    align-items: center;
}
.cus-spinner{
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.cus-content{
  position: absolute;
    margin-top: 40px;
    right: 20px;
}
.mb-50{
  margin-bottom: 50px;
}

.movieDetail{
  display: flex;
    justify-content: space-around;
    padding: 15px;
}
.movieDetail h1{
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 35px;
  line-height: 36px;
}
.leftSection{
  max-width: 600px;
  text-align: left;
}
.leftSection span{
  color: #8197a4;
  margin-bottom: 12px;
}
.genres{
  margin-bottom: 12px;
}
.genres span{
margin-right: 12px;
color: #79b8f3;
}
.overview{
  margin-bottom: 12px;
  color:#ffffff
}
.rating{
  display: flex;
  color: White;
}
.rating span{
  color: White;
  margin-right: 20px;
}
.rating_text{
  color: #8197a4;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
}
.rating .fa-star{
color:#ffeb3b;
margin-right: 10px;
}
.rating .fa-heart{
  color:#dd1450;
  margin-right: 10px;
  }
body{
  background-color: #0f171eeb;
}